<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/patch.css">
         <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.min.css">
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
     <script src="{{ STATIC_URL }}js/docs.min.js"></script>

        <title>
        {% block title %}
        {% endblock %}
        </title>
        {% block css%}
        {% endblock %}
        {% block script%}
        {% endblock %}
        {% block meta%}
        {% endblock %}
    </head>
    <body>
        {%include "header.html"%}
        {% block body %}
        {% endblock %}
        {%include "footer.html"%}

    </body>
</html> 