{% extends 'base.html' %}
{%block title%}
空军航空大学在线判题系统
{%endblock%}
{% block body %}

    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">A</span>
    <p class="lead">AFOJ 是我校自主开发的基于Django的在线判题系统，用于ACM/ICPC 训练和测试使用</p>
    <p class="lead">
      <a href="getting-started.1#download" class="btn btn-outline-inverse btn-lg" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 3.3.0');">了解OJ</a>
    </p>
    <p class="version">当前版本： v1.0.0 | 更新于：2015-3-1</p>
    
  </div>
</main>
{% endblock %}