{% extends 'base.html' %}
{%block css%}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css">
{%endblock%}
{%block title%}
空军航空大学在线判题系统-题目
{%endblock%}
{% block body %}
<form class="form-horizontal" role="form" action="" method="post" >
    <div class="form-group">
        <label class="col-sm-1 control-label" for="problem_id">Problem</label>
        <div class="col-sm-1">
            <input type="text" name="problem_id" class=" form-control">
        </div>
        <label class="col-sm-1 control-label" for="user_id">Author</label>
        <div class="col-sm-1">
            <input type="text" name="user_id" class="form-control">
        </div>
        <div class="col-sm-2">
        <select class="form-control" name="result">
          <option value='A'>All</option>
          <option value="0">Wating</option>
          <option value="1">Wating Rejudge</option>
          <option value="2">Compiling</option>
          <option value="3">Runing and Judge</option>
          <option value="4">Accepted</option>
          <option value="5">Presentation Error</option>
          <option value="6">Wrong Answer</option>
          <option value="7">Time Limit Exceeded</option>
          <option value="8">Memory Limit Exceeded</option>
          <option value="9">Output Limit Exceeded</option>
          <option value="10">Runtime Exceeded</option>
          <option value="11">Copile Error</opinton>
          <option value="12">Compile OK</option>
          <option value="13">Test Run</option>
        </select>
        </div>
        {{result.value}}
        <div class="col-sm-2">
            <select class="form-control" name="lang">
                <option value="A">All</option>
                <option value="0">C</option>
                <option value="1">C++</option>
                <option value="2">Pascal</option>
                <option value="3">Java</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>    
    </div>
</form>
{% endblock %}