{% extends 'base.html' %}
{% load digittoname %}
{% load digittoalpha %}
{%load digittoname%}
{%block css%}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css">
{%endblock%}
{%block title%}
空军航空大学在线判题系统-题目
{%endblock%}
{% block body %}
<div class="bs-docs-header" id="content">
      <div class="container">
       <h1>状态</h1>
      <h2></h2>
    <p>你可以在这里看到[{{contest.title}}]提交代码的记录
                </p>
        
      </div>
    </div>
<div class="container">

<form class="form-horizontal" role="form" action="" method="post" >
    <div class="form-group">
        <div class="col-sm-2">
          <select name="pid"  class="form-control">
            <option value='A'>所有题目</option>
            {%for item in con_problems%}
            <option value="{{item.num}}">{{item.num|digittoalpha}}</option>
            {%endfor%}
          </select>
        </div>
        <label class="col-sm-1 control-label" for="username">Author</label>
        <div class="col-sm-1">
            <input type="text" name="username" class="form-control">
        </div>
        <div class="col-sm-2">

        <select class="form-control" name="result">
          <option value='A'>各种状态</option>
          <!-- <option value="0">各种状态</option> -->
          <option value="1">队列中 </option>
          <option value="2">编译</option>
          <option value="3">编译错误</option>
          <option value="4">运行中</option>
          <option value="5">正确 </option>
          <option value="6">错误 </option>
          <option value="7">运行错误</option>
          <option value="8">时间超限</option>
          <option value="9">内存超限</option>
          <option value="10">格式错误</option>
          <option value="11">输出超限</opinton>

        </select>
        </div>
        {{result.value}}
        <div class="col-sm-2">
            <select class="form-control" name="lang">
                <option value="A">所有语言</option>
                <option value="0">C</option>
                <option value="1">C++</option>
                <option value="2">Java</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>    
        <a href="/contest/contest?cid={{contest.id}}" class="btn btn-success">返回</a>
    </div>
</form>

<table class="table table-striped table-condensed table-hover">
  <thead><tr>
    <th>运行编号</th>

    <th>题目编号</th>
        <th>用户</th>
        <th>结果</th>
        <th>内存使用</th>
        <th>时间使用</th>
        <th>语言</th>
        <th>代码长度</th>
        <th>提交时间</th>
  </tr></thead>
  <tbody>
    {%for status in statuses%}
    <tr align="left">
        <td class="sid" >{{status.id}}</td>
        <td><a href="">{{status.num|digittoalpha}}</a></td>
        <td><a href="">{{status.user}}</a></td>
        <td  class='result' >{{status.result|digittoname|safe}}</td>
        <td class='memo'>{{status.memory}}kb</td>
        <td class='time'>{{status.time}}ms</td>
        <!-- <td></td> -->
        <td>
        {%if user.is_staff%}
            <a href="/oj/code/{{status.solution_id}}" target="_blank" class='lang'>{{status.language|digittolanguage}}</a>
        {%else%}
        {% ifequal user.username status.user_id %}
                <a href="/oj/code/{{status.solution_id}}" target="_blank" class='lang'>{{status.language|digittolanguage}}</a>
        {% else %}
                <a href="#" class='lang'>{{status.language|digittolanguage}}</a>
        {% endifequal %}
        {%endif%}
        </td>

        <td>{{status.code_length}}B</td>
        <td>{{status.in_date | date:"o-n-j G:i:s"}}</td>
    
    </tr>
    {%endfor%}
    </tbody>    
</table>
<ul class="pager">
    {%if statuses.has_previous%}
    <li><a href="?cid={{contest.id}}&page={{statuses.previous_page_number}}">上一页</a></li>
    {%else%}
    <li class="disabled"><a href="#">上一页</a></li>
    {%endif%}
    {%if statuses.has_next%}

    <li><a href="?cid={{contest.id}}&page={{statuses.next_page_number}}">下一页</a></li>
    {%else%}
    <li class="disabled"><a href="#">下一页</a></li>
    {%endif%}
    <li><a href="?cid={{contest.id}}&page=1">第一页</a></li>
</ul>
</div>

{% endblock %}